{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userhistories list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
        {% for userhistory in userhistories %}
            <tr>
                <td><a href="{{ path('userhistory_show', { 'id': userhistory.id }) }}">{{ userhistory.description }}</a></td>
                <td>{{ userhistory.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
